[Desktop Entry]
Name=Gather
Comment=Gather Town Client
Exec=gather-electron
Terminal=false
Type=Application
Categories=Network;
# Icon=gather  <-- You can add an icon.png to the repo and reference it here
